<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
		layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}| ${message} | ${all-event-properties}" >
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="DarkBlue" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="console" />
		<logger name="*" minlevel="Warn" writeTo="console" />
		<logger name="*" minlevel="Error" writeTo="console" />
	</rules>
</nlog>