<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target
		  xsi:type="Console"
		  name="console"
		  layout="${longdate}|${level:uppercase=true}|${logger}|${message}" >

			<highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="console" />
		<logger name="*" minlevel="Warn" writeTo="console" />
		<logger name="*" minlevel="Error" writeTo="console" />
	</rules>
</nlog>